@model List<Product>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<string> productList = new List<string>();
    productList.Add("");

    <ol class="list-group list-group-numbered">
        @foreach (var item in Model)
        {
            <li class="list-group-item"> @item.Name @item.Price</li>
        }
    </ol>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Price
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<a class="btn btn-success" role="button" asp-controller="Product" asp-action="List">List All Products</a>
<a class="btn btn-success" role="button" asp-controller="Product" asp-action="Add">Add Product</a>
